body {
  margin: 0;
  font-family: Arial;
  background: #1a1a1a;
  color: white;
}

#container {
  display: flex;
  height: 100vh;
}

#editor {
  width: 50%;
  height: 100%;
  border-right: 2px solid #444;
}

#game-area {
  width: 50%;
  background: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#runBtn {
  margin-top: 12px;
  padding: 10px 20px;
  font-size: 18px;
}
